{{!-- Cabber Top Bar --}}
<md-toolbar class="md-accent _md _md-toolbar-transitions">
  <div class="md-toolbar-tools">
    <button class="md-icon-button md-button md-ink-ripple" type="button"
      aria-label="Settings">
      <i class="material-icons">&#xE5C4;</i>
      <div class="md-ripple-container"></div>
    </button>
    <h2>Sign In</h2>
  </div>
</md-toolbar>

{{!-- Cabber Logo --}}
<div
  class="layout-wrap layout-align-center-center layout-row layout-padding layout-padding-lg layout-app-logo">
  <div class="flex-100">
    <img alt="Cabber" src="../assets/images/logo1@1x.png" class="ng-app-logo">
  </div>
</div>

{{login-form}}